@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --ui-header-height: 4rem;
}

:root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}